* {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  box-sizing: inherit; }

::-moz-selection {
  color: white;
  background: #eb4e7a; }

::selection {
  color: white;
  background: #eb4e7a; }

html {
  height: 100%; }

body {
  overflow-y: scroll; }

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) center center no-repeat, #000 url("../images/bg.png") center center no-repeat;
  background-size: cover, cover;
  height: 100vh;
  position: relative;
  top: 0;
  width: 100%; }

.title {
  color: #fff;
  font-size: 1.2rem;
  margin: 0; }

.titleContainer {
  margin: 0vh auto 0;
  padding-top: 30vh;
  text-align: center; }
  .titleContainer .appName {
    color: white;
    font-family: 'Megrim', cursive;
    font-size: 2rem;
    letter-spacing: 1.3rem;
    line-height: 1.3;
    margin: 2rem 0 0;
    opacity: 1;
    text-transform: uppercase; }
  .titleContainer .greetingText {
    font-size: 1rem;
    letter-spacing: 1rem;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase; }
  .titleContainer .codedBy {
    text-align: center;
    font-size: .8rem;
    letter-spacing: .4rem;
    margin: 2rem auto;
    text-transform: uppercase;
    width: 200px; }

.rightNav {
  font-size: 1.3rem;
  display: none;
  letter-spacing: .5rem;
  position: absolute;
  right: 1.3rem; }
  .rightNav ul {
    list-style: none;
    text-decoration: none; }
    .rightNav ul li {
      margin: 1rem 0;
      writing-mode: vertical-rl; }
    .rightNav ul a:hover, .rightNav ul a:active {
      color: white; }
    .rightNav ul a {
      text-decoration: none;
      color: white; }

.selected {
  color: #fff; }

.leftNav {
  color: white;
  margin-top: 2rem; }
  .leftNav ul {
    list-style: none;
    padding: 0; }
    .leftNav ul li {
      font-size: 1.3rem;
      letter-spacing: .5rem;
      margin: 1rem 0; }
    .leftNav ul a, .leftNav ul a:visited, .leftNav ul a:link, .leftNav ul a:active {
      text-decoration: none;
      color: white; }
    .leftNav ul li:hover {
      color: #fff; }

.wrapper {
  color: white;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #040919; }

.projectWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  flex-direction: column-reverse; }

.imageWrapper {
  width: 100%;
  max-width: 50%;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4rem; }
  .imageWrapper img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 0.8rem; }

.projectDetails {
  width: 100%;
  max-width: 80%;
  padding-bottom: 2rem;
  flex: 1 1 80%; }
  .projectDetails article h2 {
    margin-top: 2rem;
    margin-bottom: 1rem; }

.techstackWrapper {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-bottom: 1rem; }
  .techstackWrapper img {
    width: 4rem;
    margin-right: 0.5rem;
    height: 3.5rem;
    object-fit: cover;
    background-color: transparent; }

.bodyApp {
  background-color: #040919;
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.appTheme {
  background-color: #040919;
  color: white;
  flex: 1; }

.mainContainer {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 11rem));
  justify-content: center;
  margin: auto;
  padding-left: 1rem; }

.card {
  text-align: center;
  width: 10rem;
  max-width: 100%;
  margin-bottom: 2rem;
  overflow: hidden; }
  .card img {
    width: 100%;
    height: auto;
    border-radius: 9px;
    object-fit: cover; }
  .card-text {
    color: white; }
    .card-text-alt {
      color: grey; }
  .card-title {
    margin: .5rem 0; }

form {
  position: relative;
  color: white;
  background-color: #040919;
  border: 1px solid white;
  display: inline-block;
  justify-content: space-around;
  padding: 0.6rem 3rem;
  border-radius: 5rem;
  line-height: 1;
  font-weight: 500;
  width: auto; }

input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.3rem; }

.lds-ripple {
  margin-left: 2.25rem;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0; } }

.btn {
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none; }
  .btn .im-magnifier {
    font-size: 1rem; }

.searchbarContainer {
  position: relative;
  text-align: center;
  margin: 1rem; }

.respCenter {
  text-align: center; }

.page {
  text-align: center;
  margin-bottom: 1rem; }
  .page .paging {
    border: 1px solid transparent;
    color: white;
    background-color: #eb4e7a;
    padding: 1rem;
    margin: 1rem;
    transition: .5s; }
    .page .paging:hover {
      background-color: #040919;
      border: 1px solid #eb4e7a;
      transition: .5s; }

#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  max-width: 39rem;
  width: 100%;
  margin: 0 auto 1rem auto;
  vertical-align: top;
  text-align: center; }
  #footer p {
    font-size: 1rem; }

@media only screen and (min-width: 700px) {
  .mainContainer {
    max-width: 700px; }
  .leftNav {
    left: 1rem;
    position: absolute;
    margin: 0;
    top: 36vh; }
    .leftNav li {
      font-size: 1.3rem;
      letter-spacing: .5rem;
      margin: 1rem 0;
      writing-mode: vertical-lr;
      text-orientation: sideways; }
  .titleContainer {
    margin: 0vh auto 0;
    padding-top: 35vh; }
    .titleContainer .appName {
      font-size: 4rem; }
    .titleContainer .greetingText {
      font-size: 1rem;
      letter-spacing: 1.3rem; }
    .titleContainer .codedBy {
      width: 100%; }
  .rightNav {
    display: block;
    top: 36vh; }
  .projectDetails {
    width: 100%;
    max-width: 45%;
    flex: 1 1 45%; }
    .projectDetails article h2 {
      margin-top: 2rem;
      margin-bottom: 1rem; } }

@media only screen and (min-width: 800px) {
  .mainContainer {
    max-width: 800px; } }

@media only screen and (min-width: 900px) {
  .leftNav {
    top: 34vh; }
  .titleContainer {
    margin: 0vh auto 0;
    padding-top: 40vh; }
    .titleContainer br {
      display: none; }
    .titleContainer .appName {
      line-height: 1.5;
      margin: 0; }
    .titleContainer .codedBy {
      margin: .5rem auto; }
  .rightNav {
    top: 34vh; }
  .mainContainer {
    max-width: 850px; } }

@media only screen and (min-width: 1000px) {
  .mainContainer {
    max-width: 1000px; } }

@media only screen and (min-width: 1200px) {
  .mainContainer {
    max-width: 1100px; } }

@media only screen and (max-width: 346px) {
  input {
    font-size: 1rem; }
  .btn .im-magnifier {
    font-size: 0.7rem; } }
